body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}


.page.show {
    z-index: 100;
    opacity: 1;
}
.home .titles {
    top: 50%;
    left: 50%;
    z-index: 100;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 0;
    padding: 0;
}
.home .page-title {
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    font-size: 5vw;
    letter-spacing: 2.6vw;
	color: hsl(192deg 100% 50%);
    /* text-shadow: 0px 6px 10px #3d5257; */
    filter: drop-shadow(0px 6px 10px #3d5257);
    text-indent: 2.6vw;
    opacity: 1;
    font-weight: 100;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
    padding: 0;
    margin: 0;
    position: relative;
	font-family: 'Rajdhani', sans-serif;

}
.home .page-subtitle {
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    font-size: 1vw;
    letter-spacing: 1.55vw;
    text-indent: 1.8vw;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
    padding: 0;
    margin: 0;
    position: relative;
	color: #00ff5d;
}
.page-subtitle {
    user-select: none;
    position: relative;
    white-space: nowrap;
    pointer-events: none;
    top: 29vh;
    margin: 0 auto;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: .9vw;
    text-align: center;
}
.flicker-1 {
	-webkit-animation: flicker-1 3s ease-out infinite both;
	        animation: flicker-1 3s ease-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-3-15 21:12:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-1 {
	0%,
	100% {
	  opacity: 1;
	}
	41.99% {
	  opacity: 1;
	}
	42% {
	  opacity: 0;
	}
	43% {
	  opacity: 0;
	}
	43.01% {
	  opacity: 1;
	}
	47.99% {
	  opacity: 1;
	}
	48% {
	  opacity: 0;
	}
	49% {
	  opacity: 0;
	}
	49.01% {
	  opacity: 1;
	}
  }
  @keyframes flicker-1 {
	0%,
	100% {
	  opacity: 1;
	}
	41.99% {
	  opacity: 1;
	}
	42% {
	  opacity: 0;
	}
	43% {
	  opacity: 0;
	}
	43.01% {
	  opacity: 1;
	}
	47.99% {
	  opacity: 1;
	}
	48% {
	  opacity: 0;
	}
	49% {
	  opacity: 0;
	}
	49.01% {
	  opacity: 1;
	}
  }
  